<h1 mat-dialog-title>Registration</h1>
<div mat-dialog-content>
  
  <form [formGroup]="registerForm">
    <mat-form-field appearance="outline">
      <mat-label>Choose Salutation</mat-label>
      <mat-select formControlName="salutation" (selectionChange)="getGender($event)">
        <mat-option value="Mr.">Mr.</mat-option>
        <mat-option value="Mrs.">Mrs.</mat-option>
        <mat-option value="Ms.">Ms.</mat-option>
        <mat-option value="Dr.">Dr.</mat-option>
      </mat-select>
      <mat-error *ngIf="registerForm.get('salutation')?.hasError('required')">This field is required</mat-error>    

    </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" id="firstName"  matInput placeholder="First Name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>First Name</mat-hint> -->
      <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">This field is required</mat-error>    

  
  </mat-form-field>
  
  <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput placeholder="Last Name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">This field is required</mat-error>    

  </mat-form-field>
  
  <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput placeholder="Email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">This field is required</mat-error>    
      <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Enter valid email</mat-error>    

  </mat-form-field>
  
  <mat-form-field appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input formControlName="mobileNumber" matInput placeholder="Mobile Number">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="registerForm.get('mobileNumber')?.hasError('required')">This field is required</mat-error>    
      <mat-error *ngIf="registerForm.get('mobileNumber')?.hasError('minlength')">Enter proper mobile number</mat-error>    
  </mat-form-field>
  
  <mat-form-field appearance="outline">
      <mat-label>Choose Department</mat-label>
      <mat-select formControlName="department">
        <mat-option value="Accounts">Accounts</mat-option>
        <mat-option value="General">General</mat-option>
        <mat-option value="Testing">Testing</mat-option>
        <mat-option value="Design and Development">Design and Development</mat-option>
      </mat-select>
      <mat-error *ngIf="registerForm.get('department')?.hasError('department')">This field is required</mat-error>    
    </mat-form-field>

    <mat-radio-group formControlName="gender" aria-label="Select Gender" class="mt-3">
      <mat-radio-button value="Male" >Male</mat-radio-button>
      <mat-radio-button value="Female" >Female</mat-radio-button>
      <mat-error *ngIf="registerForm.get('gender')?.hasError('required')">Gender must be selected</mat-error>    

    </mat-radio-group>

    <mat-form-field appearance="outline" class="mt-3">
      <mat-label>Languages</mat-label>
      <mat-select formControlName="languages" multiple>
        <mat-select-trigger>
          {{languages.value?.[0] || ''}}
          <span *ngIf="(languages.value?.length || 0) > 1" class="example-additional-selection">
            (+{{(languages.value?.length || 0) - 1}} {{languages.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let language of languagesList" [value]="language">{{language}}</mat-option>
      </mat-select>
      <mat-error *ngIf="registerForm.get('language')?.hasError('required')">This field is required</mat-error>    
    </mat-form-field>


  <mat-form-field appearance="outline">
      <mat-label>Salary</mat-label>
      <input formControlName="salary" matInput placeholder="Salary">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="registerForm.get('salary')?.hasError('required')">This field is required</mat-error>    
      <mat-error *ngIf="registerForm.get('salary')?.hasError('pattern')">Enter digits only</mat-error>    
      <!-- <mat-hint>First Name</mat-hint> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date of Birth</mat-label>
    <input formControlName="dob" matInput [matDatepicker]="picker" (dateInput)="calculateAge($event.value)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="mt-3">
    <mat-label>Age</mat-label>
    <input formControlName="age" matInput placeholder="Age">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <!-- <mat-hint>First Name</mat-hint> -->
</mat-form-field>

  </form>

</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
  <button mat-raised-button color="primary" (click)="register()">Save</button>
</div>