<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>dashboard</mat-icon>
   </button>
   <span>Modal CRUD</span>
   <span class="example-spacer"></span>
   <button mat-raised-button color="warn" (click)="openDialog()">Add Record</button>
 </mat-toolbar>

 <div class="container">
  <div class="mt-5">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="salutation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Salutation </th>
          <td mat-cell *matCellDef="let row"> {{row.salutation}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>
        
        <!-- Fruit Column -->
        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
          <td mat-cell *matCellDef="let row"> {{row.mobileNumber}} </td>
        </ng-container>
        
        <!-- Fruit Column -->
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> department </th>
          <td mat-cell *matCellDef="let row"> {{row.department}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> gender </th>
          <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="languages">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> languages </th>
          <td mat-cell *matCellDef="let row"> {{row.languages}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> salary </th>
          <td mat-cell *matCellDef="let row"> {{row.salary}} </td>
        </ng-container>

         <!-- Fruit Column -->
         <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
          <td mat-cell *matCellDef="let row"> {{row.dob|date}} </td>
        </ng-container>

         <!-- Fruit Column -->
         <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
          <td mat-cell *matCellDef="let row"> {{row.age}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    
  </div>

 </div>